{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 17rem; height: 500px; overflow: hidden;">
                <img src="{{ i.img.url }}" alt="..." class="card-img-top" style="width:100%; height:200px; object-fit:cover;">
                <h5 class="card-title" style="text-align:center;">{{ i.name }}</h5>
                <div class="card-body" style="overflow: auto;">
                    <p class="card-text">{{ i.desc }}</p>
                </div>
                <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">GO somewhere</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

